<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag "application", media: "all",
    "data-turbolinks-track" => 'reload' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => 'reload' %>
      <%= csrf_meta_tags %>

        <title><%= full_title(yield(:title)) %></title>

        <!-- Bootstrap core CSS -->
        <!-- Custom styles for this template -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/round-about.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
 
</body>
</html>